#about{
    padding: 70px 0;
    .all-card{
       .col-12{
        text-align: center;
       }
        .about{
            img{
                width: 250px;
                height: 250px;
            }
        }
    }
}