#about{
    padding: 70px 0;
    background-color: rgb(245, 232, 217);
    .all-card{
       .col-12{
        text-align: center;
        font-family: 'Acme', sans-serif;
        h4{
            font-size: 30px;
        }
       }
        .about{
            img{
                width: 250px;
                height: 250px;
            }
        }
    }
}