#core-values{
    padding: 50px 0;
    background-image: url(../Image/group-male-architect-analyzing-blueprint46.jpg);
    @media only screen and (max-width:768px) {
        background-image: url(../Image/rf.jpg);
    }
    .row{
        .bg-img-1{
            .text{
                h6{
                    font-family: 'Pacifico', cursive;
                }
                h1{
                    font-family: 'Russo One', sans-serif;
                }
                position: relative;
               &::after{
                 content: "";
                 position: absolute;
                 bottom: -50px;
                 left: 0;
                 right: 0;
                 height: 12px;
                 width: 250px;
                 background-color: rgb(22, 22, 121);

               }
            }

            padding: 150px 0;
            h6{
                font-size: 20px;
            }
            h1{
                font-size: 70px;
            }
            
        }
    }
}