#mission-vision{
    padding: 70px 0;
    .mission{
        text-align: center;
        font-family: 'Russo One', sans-serif;
       h1{
        font-size: 50px;
       }
    }
    .vision{
        .texts{
            font-family: 'Acme', sans-serif;
            transition: 0.8s;
            &:hover{
                transform: scale(1.1);
                background-color: rgb(230, 227, 223);
            }
            h3{
                color: rgb(241, 57, 57);
            }
            .void{
                height: 200px;
            }
        }
    }
}