#mission-vision{
    padding: 100px 0;
    .vision{
        .texts{
            font-family: 'Acme', sans-serif;
            h3{
                color: rgb(241, 57, 57);
            }
            .void{
                height: 200px;
            }
        }
    }
}