#guilding-principles{
    padding: 150px 0;
    .vision{
        .texts{
            font-family: 'Acme', sans-serif;
            img{
                padding: 20px;
            }
            .void{
                height: 200px;
            }
        }
    }
}