#history{
    padding: 100px 0;
    background-image: url(../Image/rf.jpg);
    .our{
        h2{
            font-family: 'Russo One', sans-serif;
            font-size: 45px;
        }
        p{
            font-family: 'Geologica', sans-serif;
        }

    }
}