#management{
    padding: 50px 0;
    h2{
        font-family: 'Russo One', sans-serif;
        font-size: 45px;
    }
    .row{
        font-family: 'Acme', sans-serif;
     h4{
        font-size: 30px;
     }
     p{
        font-size: 20px;
     }
    }
}