#our-success{
    background-image: url(../Image/394227a2-4491-4f80-a7cf-354a4a86a284.jpeg);
    padding: 100px 0;
    .our{
        h2{
            font-family: 'Russo One', sans-serif;
            font-size: 45px;
        }
        p{
            font-family: 'Geologica', sans-serif;
        }

    }
}