#kazakhstan{
    padding: 100px 0;
    .row{
        .col-12{
            h2{
                font-size: 40px;
                color: brown;
                font-family: 'Russo One', sans-serif;
            }
            h6{
                font-family: 'Acme', sans-serif;
                font-size: 25px;
            }
            span{
                font-size: 14px;
            }
            p{
                font-size: 15px;
                font-family: 'Acme', sans-serif;
            }
        }
    }
}