#about{
    padding: 70px 0;
    background-color: rgb(245, 232, 217);
    .div{
        padding: 30px 0;
    }
    .all-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
       .col-12{
        text-align: center;
        font-family: 'Acme', sans-serif;
        h4{
            font-size: 30px;
        }
       }
        .about{
            overflow: hidden;
            overflow-wrap: normal;
            img{
                border: 1px solid bisque;
                width: 500px;
                height: 340px;
                transition: 0.9s;
                &:hover{
                 transform: scale(1.09);
                 
                }
                @media only screen and (max-width:992px) {
                    width: 300px;
                    height: 200px;
                }
            }
        }
    }
}