#footer-top{
    background-image:
    linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), url(../Image/vbvbvb-min.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    padding: 70px 0;
   .contacts{
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 8px;
    text-align: center; 
    color: #000;  
    h1{
     font-size: 50px;
     font-family: 'Russo One', sans-serif;
    }   
    .col-12{
      text-align: center;
      font-family: 'Acme', sans-serif;
        input{
            height: 50px;
            width: 400px;
            border-radius: 7px;
            background-color: rgb(235, 233, 233);
        }
        button{
            height: 50px;
            width: 100px;
            background-color: blue;
            color: white;
            border-radius: 7px;
            border: none;
            &:hover{
                background-color: green;
                color: white;
            }
        }
    }
   }
   .call{
    gap: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .call-us{
        background-color: rgb(5, 5, 105);
        padding: 20px 10px;
        color: white;
        border: none;
        height: 160px;
        width: 350px;
        color: white;
        transition: 0.8s;
        font-family: 'Acme', sans-serif;
        &:hover{
            transform: scale(1.1);

        }
        .fa-solid{
            font-size: 20px;
        }
        span{
            font-size: 20px;
        }
    }
   }
}