#our-project{
    padding: 150px;
    background-image: url(../Image/asd-min.jpg);
    text-align: center;
    margin-top: 100px;
   h1{
    font-size: 80px;
    font-family: 'Russo One', sans-serif;
   }
   ul{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    @media only screen and (max-width:568px){
        flex-direction: column;
    }
    li{
        a{
            font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: white;
        border: 1px solid black;
        border-radius: 7px;
         &:hover{
            color: black;
         }
        }
    }
   }
}