#roads{
    padding: 50px 0;
    .title{
        text-align: center;
        font-family: 'Russo One', sans-serif;
    }
    .imageText{
        font-family: 'Cinzel', serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media only screen and (max-width:992px) {
            flex-direction: column;
            gap: 30px;
        }
        .images{
            p{
                width: 500px;
                @media only screen and (max-width:992px) {
                width: 350px;
                }
            }
            img{
                width: 500px;
                height: 400px;
                transition: 0.8s;
                &:hover{
                    opacity: 0.8;
                }
                @media only screen and (max-width:992px) {
                width: 350px;
                }
            }
        }
    }
   }