#history{
    padding: 100px 0;
    background-image: url(../Image/rf.jpg);
    .our{
        .col-12{
        h2{
            font-family: 'Russo One', sans-serif;
            font-size: 45px;
        }
        p{
            font-family: 'Acme', sans-serif;
        }

    }
}
.corporation{
    .col-12{
    position: relative;
    h2{
        font-size: 40px;
        color: brown;
        font-family: 'Russo One', sans-serif;
    }
    p{
        font-family: 'Acme', sans-serif;
    }
    p::after{
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: rgb(163, 159, 159);
    }
    }
}
}