#contact{
        margin-top: 100px;
        padding: 150px 0;
        background-image: url(../Image/pexels-photo-5990678.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
       h1{
        font-size: 80px;
        font-family: 'Russo One', sans-serif;
       }
       ul{
        padding: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        @media only screen and (max-width:568px){
            flex-direction: column;
        }
        li{
            a{
                font-family: 'Acme', sans-serif;
            text-decoration: none;
            color: white;
            border: 1px solid black;
            border-radius: 7px;
             &:hover{
                color: black;
             }
            }
        }
       }
    }