#career-info{
    padding: 100px 0;
    font-family: 'Acme', sans-serif;
    .col-12{
        img{
        @media only screen and (max-width:992px) {
            width: 350px;
        }
        }
        h2{
            color: brown;
        }
    }
}