#careers{
    padding: 150px 0;
    background-image:linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(/assets/Image/sfmin.jpg);
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 100px;
    h1{
        color: #fff;
        text-align: center;
        font-size: 90px;
        font-family: 'Russo One', sans-serif;
    }
    ul{
        padding: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-family: 'Acme', sans-serif;
        @media only screen and (max-width:700px) {
            flex-direction: column;
        }
    }
}