#careers{
    padding: 250px 0;
    background-image: url(/assets/Image/sfmin.jpg);
    h1{
        color: white;
        text-align: center;
        font-size: 90px;
        font-family: 'Russo One', sans-serif;
    }
    ul{
        padding: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-family: 'Acme', sans-serif;
        @media only screen and (max-width:700px) {
            flex-direction: column;
        }
    }
}