#companies{
    padding: 100px 0;
    .title{
        h1{
            font-family: 'Russo One', sans-serif;
        }
    }
   .row{
    font-family: 'Acme', sans-serif;
    h2{
        font-size: 25px;
       }
     .transport{
        padding: 250px 10px;
       &:hover{
        color: white;
        background-image:
        linear-gradient(
        rgba(0.2,0,0,0.3),
        rgba(0.2,0,0,0.6)), url(../Image/2akkord-transport.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
       }
    }
     .general{
        padding: 250px 10px;
       &:hover{
        color: white;
        background-image:linear-gradient(
         rgba(0.2,0,0,0.3),
         rgba(0.2,0,0,0.6)), url(../Image/1akkord-general-construction.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
       }
    }
     .hydraulic{
        padding: 250px 10px;
     &:hover{
        color: white;
        background-image:linear-gradient(
         rgba(0.2,0,0,0.3),
         rgba(0.2,0,0,0.6)), url(../Image/5akkord--mechanisms.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
       }
    }
     .hydrotechnical{
        padding: 250px 10px;
       &:hover{
        color: white;
        background-image:linear-gradient(
         rgba(0.2,0,0,0.3),
         rgba(0.2,0,0,0.6)), url(../Image/4akkord-hydrotechnical.jpg);
         background-size: cover;
         background-position: center;
         background-repeat: no-repeat;
       }
    }
   }
}