#projects{
    padding: 50px 0;
    .title{
        text-align: center;
        font-family: 'Russo One', sans-serif;
    }
    .row{
        .col-12{ 
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            .btn{
                color: black;
                font-size: 30px;
            }
        }
    }
}