#roads{
    padding: 50px 0;
    .title{
        text-align: center;
        font-family: 'Kanit', sans-serif;
    }
   .kutaisi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    h6{
    width: 500px;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 230px;
    font-family: 'Kanit', sans-serif;
}
    @media only screen and (max-width:600px) {
      width: 300px;
      position: absolute;
      top: 80%;
      font-size: 15px;
      
    }
    }
    img{
       width: 500px;
       height: 300px;
       @media only screen and (max-width:600px) {
        width: 350px;
        height: 200px;
       }
    }
   }
}